// hero shape animation
@keyframes rotation {
  from {
    transform: rotate(3deg);
  }
  to {
    transform: rotate(-3deg);
  }
}

// icons pulse effect
@-webkit-keyframes pulseEffect {
  from {
    transform: scale(0.5);
    opacity: 0.4;
  }
  to {
    transform: scale(2.7);
    opacity: 0;
  }
}
@-webkit-keyframes pulseEffect1 {
  from {
    transform: scale(0);
    opacity: 0.6;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
